<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tienda de Abarrotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-theme="a">
    <div data-role="panel" id="myPanel" data-display="overlay" data-position="left">
        <h2>Menú</h2>
        <ul data-role="listview">
            <li><a href="/productos/agregar" data-ajax="false">Agregar productos</a></li>
            <li><a href="/clientes/agregar" data-ajax="false">Agregar cliente</a></li>
            <li><a href="/productos/mostrar" data-ajax="false">Productos</a></li>
            <li><a href="/clientes/mostrar" data-ajax="false">Clientes</a></li>
            <li><a href="/acerca/de" data-ajax="false">Acerca de</a></li>
        </ul>
    </div>

    <div data-role="header" data-theme="b">
        <h1>Tienda de Abarrotes "Dany"</h1>
        <a href="#myPanel" data-icon="bars" data-iconpos="notext">Menú</a>
    </div>
        <div data-role="content">
            <form action="/" method="POST">
                <div data-role="fieldcontain">
                    <input type="text" name="codigo_barras" id="txt_barcode" placeholder="Codigo de barras">
                </div>
                <div data-role="fieldcontain">
                    <input type="text" name="descripcion" id="txt_description" placeholder="Descripción">
                </div>
                <div data-role="fieldcontain">
                    <input type="text" name="marca" id="txt_brand" placeholder="Marca">
                </div>
                <div data-role="fieldcontain">
                    <input type="number" name="precio" id="txt_price" placeholder="Precio">
                </div>
                <div data-role="fieldcontain">
                    <input type="number" name="costo" id="txt_cost" placeholder="Costo">
                </div>

                <div data-role="fieldcontain">
                    <input type="number" name="stock" id="txt_stock" placeholder="Existencias">
                </div>

                <div data-role="fieldcontain">
                    <input type="date" name="fecha_expiracion" id="txt_expired_date" placeholder="Fecha de caducidad">
                </div>

                <label for="flip-2">Activo</label>
                    <select name="estatus" id="flip-2" data-role="slider">
                <option value="0">No</option>
                <option value="1">Si</option>
                    </select>
                    

                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button>
            </form>

    <div data-role="footer" data-theme="b">
        <h4>Contacto</h4>
        <p>Dirección: Jalapilla, Calle Principal</p>
        <p>Teléfono: 764-112-5849</p>
        <p>Email: abarrotesdany@gmail.com</p>
    </div>

</div>

</body>
</html>
